.basic-info {
  width: 70%;
  margin: 40px auto;
  text-align: center;

  @media screen and (max-width: 700px) {
    width: 90%;
  }

  &__paper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @media screen and (max-width: 700px) {
      padding: 20px;
    }
  }

  &__image {
    width: 10rem;
    height: auto;
  }

  &__description {
    width: 60%;
    text-align: center;
  }
}
