.basic-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__image {
    width: 10rem;
    height: 9rem;
  }
  &__description {
    width: 60%;
    text-align: center;
  }
}