.main-difficulties__list {
 padding-left: 50px;

 .main-difficulties__item {
  margin: 20px;
 }

 .main-difficulties__name {
  font-size: 18px;
 }

 .main-difficulties__description {
  text-indent: 20px;
 }
}