.home-page {
  & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  section {
    margin-top: 20px;
    margin-bottom: 20px;

    h2 {
      text-align: center;
    }
  }
}
