.theme-change-button-group {
	&.top {
		position: absolute;
		top: 20px;
		right: 25px;
	}

	&.bottom {
		position: fixed;
		bottom: 20px;
		right: 25px;
	}
}

.theme-change-btn-active {
	background: red;
}

	@media only screen and (max-width: 666px) {
		.theme-change-button-group:not(.bottom) {
			position: static;
			margin: 20px;
		}
}
