$common-width: 30vw;


.search {
	padding-top: 30px;
  &__title {
    text-transform: uppercase;
	}
	&__form {
		display: flex;
		justify-content: center;
		min-width: $common-width;
		padding: 20px;
	}
}

.author-list {
	min-width: $common-width;
	&-item {
		justify-content: center;
	}
}
