.time-spent__container {
 margin-top: 40px;
 margin-bottom: 40px;
 border-collapse: collapse;
}

//  caption {
//   text-align: left;
//  }

//  th, td {
//   border: 1px solid black;
//   padding: 10px;
//  }
// }
