
.author-of-the-day {

 & {
  width: 100%;
  height: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 &__content {
	width: 70%;
  height: content-box;
	display: flex;
	align-items: center;
	justify-content: center;
 }

 &__link {
	text-align: center;
	text-decoration: none;
 }

 &__row {
	flex: 1;
	width: 100%;
	margin: 10px;

	&:nth-of-type(2), &:nth-of-type(4) {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin: 20px;
	}

	&>* {
	 width: 100%;
	}
 }

 &__description {
	flex: 2;
	margin: 0;
 }

 &__column {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 320px;
	padding: 10px;

	&__image-skeleton {
	 width: 200px;
	 height: 250px;
	}
 }

 @media screen and (max-width: 700px) {
	&__content {
	 width: 90%;
	 flex-direction: column-reverse;
	}

	&__description {
	 display: none;
	}
 }

}
